<%= form_with(model: accountbank, local: true) do |form| %>
  <% if accountbank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accountbank.errors.count, "error") %> prohibited this accountbank from being saved:</h2>

      <ul>
      <% accountbank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box box-primary container box-body">
  <div class="form-row">
  <div class="form-group col-md-12">
    <%= form.label :nome %>
    <%= form.text_field :nome , class: "form-control"%>
  </div>

  <div class="form-group col-md-12">
    <%= form.label :banco %>
    <%= form.text_field :banco , class: "form-control"%>
  </div>

  <div class="form-group col-md-12">
    <%= form.label :agencia %>
    <%= form.text_field :agencia , class: "form-control"%>
  </div>

  <div class="form-group col-md-12">
    <%= form.label :conta_corrente %>
    <%= form.text_field :conta_corrente, class: "form-control" %>
  </div>

  <div class="form-group col-md-12">
    <%= form.label :codigo_contabil %>
    <%= form.text_field :codigo_contabil , class: "form-control"%>
  </div>

  <div class="form-group col-md-12">
    <%= form.label :company_id %>
    <%= form.collection_select :company_id , Company.where(user_id: current_user.id), :id, :nome, {}, class: "form-control" %>
  </div>

  <div class="box-footer text-center">
    <%= form.submit  "Cadastrar" , class:'btn btn-success'%>
  </div>
<% end %>
