<p id="notice"><%= notice %></p>

<h1>Doctypes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctypes.each do |doctype| %>
      <tr>
        <td><%= doctype.nome %></td>
        <td><%= doctype.descricao %></td>
        <td><%= doctype.user %></td>
        <td><%= link_to 'Show', doctype %></td>
        <td><%= link_to 'Edit', edit_doctype_path(doctype) %></td>
        <td><%= link_to 'Destroy', doctype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doctype', new_doctype_path %>
