<%= form_with(model: accountfinancial, local: true) do |form| %>
  <% if accountfinancial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accountfinancial.errors.count, "error") %> prohibited this accountfinancial from being saved:</h2>

      <ul>
      <% accountfinancial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="box box-primary container box-body">
  <div class="form-row">
  <div class="form-group col-md-12">
    <%= form.label :nome %>
    <%= form.text_field :nome , class: "form-control"%>
  </div>

  <div class="form-group col-md-12">
    <%= form.label :natureza %>
    <%= form.text_field :natureza , class: "form-control"%>
  </div>

  <div class="form-group col-md-12">
    <%= form.label :historico %>
    <%= form.text_area :historico , class: "form-control"%>
  </div>

  <div class="form-group col-md-12">
    <%= form.label :codigo_contabil %>
    <%= form.text_field :codigo_contabil , class: "form-control"%>
  </div>

  <div class="form-group col-md-12">
    <%= form.label :companyprovider_id %>
     <%= form.collection_select :companyprovider_id , Companyprovider.where(user_id: current_user.id), :id, :nome, {}, class: "form-control" %>
  </div>


  <div class="box-footer text-center">
    <%= form.submit  "Cadastrar" , class:'btn btn-success'%>
  </div>
<% end %>
