

<h1 class="text-center">Contas Financeiras</h1>

<div class="box box-primary container box-body">
<div class="table-responsive">
<table class="table table-bordered table-hover table-striped float-left table-responsive">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Natureza</th>
      <th>Historico</th>
      <th>Codigo contabil</th>
      <th>Company Fornecedora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accountfinancials.each do |accountfinancial| %>
      <tr>
        <td><%= accountfinancial.nome %></td>
        <td><%= accountfinancial.natureza %></td>
        <td><%= accountfinancial.historico %></td>
        <td><%= accountfinancial.codigo_contabil %></td>
        <td><%= accountfinancial.companyprovider.nome %></td>
        <td class="col-xs-1"><%= link_to '', accountfinancial , class:'btn btn-info fa fa-2x fa-eye'%></td>
        <td class="col-xs-1"><%= link_to '', edit_accountfinancial_path(accountfinancial) , class:'btn btn-primary fa fa-2x fa-edit'%></td>
        <td class="col-xs-1"><%= link_to '', accountfinancial, method: :delete, data: { confirm: 'Tem certeza?' }  , class:'btn btn-danger fa fa-2x fa-trash'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Conta Financeira', new_accountfinancial_path , class:'btn btn-primary' %>
