<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert"><%=message%></div>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="box box-primary container box-body">
    <div class="form-row">
    <div class="form-group col-md-12">
    <%= form.label :nome %>
    <%= form.text_field :nome , class: "form-control"%>
  </div>

  <div class="form-group col-md-12">
    <%= form.label :cnpj %>
    <%= form.text_field :cnpj , class: "form-control"%>
  </div>

  <div class="form-group col-md-12">
    <%= form.label :codigo_contabil %>
    <%= form.text_field :codigo_contabil , class: "form-control"%>
  </div>

  <div class="actions text-center">
    <%= form.submit "Cadastrar", class:'btn btn-success' %>
  </div>
</div>
</div>
<% end %>
