
<div class="box box-primary container box-body">
<p>
  <strong>Nome:</strong>
  <br>
  <%= @company.nome %>
</p>

<p>
  <strong>CNPJ:</strong>
  <br>
  <%= @company.cnpj %>
</p>
<p>
  <strong>Codigo contabil:</strong>
  <br>
  <%= @company.codigo_contabil %>
</p>
</div>

<%= link_to 'Editar', edit_company_path(@company) , class:'btn btn-primary'%> 
<%= link_to 'Voltar', companies_path , class:'btn btn-primary'%>


