<%= form_with(model: companyprovider, local: true) do |form| %>
  <% if companyprovider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(companyprovider.errors.count, "error") %> prohibited this companyprovider from being saved:</h2>

      <ul>
      <% companyprovider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cnpj %>
    <%= form.text_field :cnpj %>
  </div>

  <div class="field">
    <%= form.label :codigo_contabil_cliente %>
    <%= form.text_field :codigo_contabil_cliente %>
  </div>

  <div class="field">
    <%= form.label :codigo_contabil_fornecedor %>
    <%= form.text_field :codigo_contabil_fornecedor %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
