<h2 class="text-center">Transações</h2>
<div class="form-group input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
<input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
</div>
<div class="box box-primary container box-body">
<div class="table-responsive">
<table class="table table-bordered table-hover table-striped float-left table-responsive">
  <thead>
    <tr>
      <th> # </th>
      <th>Tipo de Pagamento</th>
      <th>Empresa</th>
      <th>Tipo Documento</th>
      <th>Categoria</th>
      <th>Data Vencimento</th>
      <th>Data Baixa</th>
      <th>Valor Liquido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.typepayment.nome %></td>
        <td><%= transaction.company.nome %></td>
        <td><%= transaction.doctype.nome %></td>
        <td><%= transaction.category.nome %></td>
        <td><%= transaction.data_vencimento %></td>
        <td><%= transaction.data_baixa %></td>
        <td><%= transaction.calcula_valor_liquido %></td>
        <td class="col-xs-1"><%= link_to '', transaction , class:'btn btn-info fa fa-2x fa-eye'%></td>
        <td class="col-xs-1"><%= link_to '', edit_transaction_path(transaction) , class:'btn btn-primary fa fa-2x fa-edit'%></td>
        <td class="col-xs-1"><%= link_to '', transaction, method: :delete, data: { confirm: 'Voce tem certeza?' }  , class:'btn btn-danger fa fa-2x fa-trash'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="box-footer clearfix">
</div>
<br>
</div>
</div>
<%= link_to 'Nova Transação', new_transaction_path , class:'btn btn-success'%>
<%= link_to "TXT", transactions_path(format: "txt") , class:'btn btn-success'%>
