<p id="notice"><%= notice %></p>

<p>
  <strong>Typepayment:</strong>
  <%= @transaction.typepayment %>
</p>

<p>
  <strong>Company:</strong>
  <%= @transaction.company %>
</p>

<p>
  <strong>Companyprovider:</strong>
  <%= @transaction.companyprovider %>
</p>

<p>
  <strong>Accountfinancial:</strong>
  <%= @transaction.accountfinancial %>
</p>

<p>
  <strong>Accountbank:</strong>
  <%= @transaction.accountbank %>
</p>

<p>
  <strong>Doctype:</strong>
  <%= @transaction.doctype %>
</p>

<p>
  <strong>Category:</strong>
  <%= @transaction.category %>
</p>

<p>
  <strong>Data vencimento:</strong>
  <%= @transaction.data_vencimento %>
</p>

<p>
  <strong>Data baixa:</strong>
  <%= @transaction.data_baixa %>
</p>

<p>
  <strong>Historico:</strong>
  <%= @transaction.historico %>
</p>

<p>
  <strong>Valor operacao:</strong>
  <%= @transaction.valor_operacao %>
</p>

<p>
  <strong>Valor acrescimo:</strong>
  <%= @transaction.valor_acrescimo %>
</p>

<p>
  <strong>Valor desconto:</strong>
  <%= @transaction.valor_desconto %>
</p>

<p>
  <strong>Valor liquido:</strong>
  <%= @transaction.valor_liquido %>
</p>

<p>
  <strong>User:</strong>
  <%= @transaction.user %>
</p>

<p>
  <strong>Documents:</strong>
  <%= @transaction.documents %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
