<div class="box box-primary container box-body">
<p>
  <strong>Typepayment:</strong>
  <br>
  <%= @transaction.typepayment.nome %>
</p>

<p>
  <strong>Company:</strong>
  <br>
  <%= @transaction.company.nome %>
</p>

<p>
  <strong>Companyprovider:</strong>
  <br>
  <%= @transaction.companyprovider.nome %>
</p>

<p>
  <strong>Accountfinancial:</strong>
  <br>
  <%= @transaction.accountfinancial.nome %>
</p>

<p>
  <strong>Accountbank:</strong>
  <br>
  <%= @transaction.accountbank.nome %>
</p>

<p>
  <strong>Doctype:</strong>
  <br>
  <%= @transaction.doctype.nome %>
</p>

<p>
  <strong>Category:</strong>
  <br>
  <%= @transaction.category.nome %>
</p>

<p>
  <strong>Data vencimento:</strong>
  <br>
  <%= @transaction.data_vencimento %>
</p>

<p>
  <strong>Data baixa:</strong>
  <br>
  <%= @transaction.data_baixa %>
</p>

<p>
  <strong>Historico:</strong>
  <br>
  <%= @transaction.historico %>
</p>

<p>
  <strong>Valor operacao:</strong>
  <br>
  <%= @transaction.valor_operacao %>
</p>

<p>
  <strong>Valor acrescimo:</strong>
  <br>
  <%= @transaction.valor_acrescimo %>
</p>

<p>
  <strong>Valor desconto:</strong>
  <br>
  <%= @transaction.valor_desconto %>
</p>

<p>
  <strong>Valor liquido:</strong>
  <br>
  <%= @transaction.calcula_valor_liquido %>
</p>

<h4>Documentos:</h4>
<% @transaction.documents.each_with_index do |document, index| %>
  <%= link_to("Anexo #{index + 1} ", document.url, target: '_blank') %>
  <br />
<% end %>
</div>
<%= link_to 'Editar', edit_transaction_path(@transaction) , class:'btn btn-primary'%> 
<%= link_to 'Voltar', transactions_path , class:'btn btn-primary'%>